@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-blue-200;
  }
} */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #fff7ed;
}

.section-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.section-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.section-divider .shape-fill {
  fill: rgb(252, 175, 60);
}
.demo-section-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.demo-section-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.demo-section-divider .shape-fill {
  fill: rgb(255 237 213);
}

.footer-section-divider {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-section-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.footer-section-divider .shape-fill {
  fill: rgb(255 237 213);
}
